ul, li{
    list-style-type: none;
    margin: 0;
}
#at-plus-container {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*width: 80px;*/
    /*height: 80px;*/
}
#bottom-positioner, #button {
    position: relative;
}
#bottom-positioner {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#info-bar, #control-ring-container {
    float: left;
    pointer-events: none;
}
/* locations without hover */
#bottom-positioner {
    width: 80px;
    height: 80px;
}
#button {
    /*padding: 25px;*/
    width: 80px;
    height: 80px;
    pointer-events: none;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.apb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    /*left: -20%;*/
    top: -20%;
    margin: 0;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.icon {
    pointer-events: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .6s ease-out 1s;
    -moz-transition: all .6s ease-out 1s;
    -o-transition: all .6s ease-out 1s;
    transition: all .6s ease-out 1s;
    background: rgba(48, 63, 159, 1) url('./assets/images/atplus_white.png') no-repeat center;
}


#info-bar, .info, .info ul{
    background-color: #7e7e7e;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
#info-bar {
    position: relative;
    left: -45px;
    transform: translateY(-40%);
    opacity: 0;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.info {
    position: relative;
    overflow: auto;
    text-align: center;
}
.info ul {
    overflow: hidden;
}
.info li {
    margin: 10px auto;
}
.info .page {
    position: relative;
}
.page span {
    color: white;
    font-weight: bold;
    position: relative;
}
.info .user {
    width: 40%;
}
.user span {
    margin: auto 15px;
    font-size: 15pt;
}
.info .comment {
    width: 60%;
}
.comment span {
    font-size: 24pt;
    margin: auto 20px;
}
.info .mine {
    display: inline-block;
    color: #079E6E;
    width: 40%;
    position: relative;
    left: 10px;
}
.mine img {
    vertical-align: bottom;
}
.mine span {
    vertical-align: top;
    margin: auto 15px;
}


#control-ring-container {
    position: relative;
}
#control-ring {
    position: absolute;
    left: -45px;
    top: -170px;
}
#control-ring li {
    float: left;
    background-color: #666666;
}
.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray no-repeat center;
    background-size: 50%;
    position: absolute;
    top: 20px;
    left: 70px;
    opacity: 0;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.mask {
    background-image: url("./assets/images/mask.png");
}
.history {
    background-image: url("./assets/images/history.png");
}
.message {
    background-image: url("./assets/images/message.png");
}
.setting {
    background-image: url("./assets/images/setting.png");
}
.sign {
    background-image: url("./assets/images/signout.png");
}
.unread {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    font-size: 5pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7em;
    position: relative;
    left: 25px;
} /* need upgrade */
/* part without hover end */

/* part with hover */
#button:hover #info-bar {
    opacity: 1;
    transform: translate(0px, -120%);
}
#button:hover .icon {
    padding: 0;
    width: 80px;
    height: 80px;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    background-image: url('./assets/images/atplus_green.png');
}
#button:hover .button {
    opacity: 1;
}
#button:hover .mask {
    transform: translate(-60px, -25px);
}
#button:hover .history {
    transform: translate(-72px, 12px);
}
#button:hover .message {
    transform: translate(-55px, 45px);
}
#button:hover .setting {
    transform: translate(-20px, 68px);
}
#button:hover .sign {
    transform: translate(18px, 70px);
}
#button:hover #info-bar, #button:hover #control-ring-container {
    pointer-events: auto;
}
