/* Created by BowenWu-15331310
 * HomeWork3-Ring menu
 */

/* Locate the element */

#bottom-positioner ul {
    list-style: none;
}
#bottom-positioner {
     position: absolute;
     bottom: 25%;
     left: 47%;
     margin-left: auto;
     margin-right: auto;
 }
#bottom {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* initial state for all div in bottom */
#bottom #info-bar, #bottom #control-ring-container{
    position: absolute;
    bottom: 25%;
    left: 25%;
    opacity: 0;
    width: 0;
    height: 0;
}
/*#bottom #info-bar li {
    opacity: 0;
}*/

/*#bottom .message span {
    opacity: 0;
}*/
#bottom ul {
    list-style: none;
}

/* initital state for each element in bottom */
#bottom .apb {
    opacity: 1;
    height: 35px;
    width: 35px;
}
#bottom .icon {
    background: url("../images/atplus_white.png")  no-repeat center rgba(48, 63, 159, 0.5);
    background-size: 80% 60%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 1;
}

/* after hover */
#bottom:hover span {
    opacity: 1;
}
/*#bottom:hover {
    width: 200px;
    height: 200px;
    
}*/
#bottom:hover #control-ring-container {
    opacity: 1;
}
#bottom:hover ul {
    list-style: none;
}
#bottom:hover .icon {
    background: url("../images/atplus_green.png") no-repeat center rgba(48, 63, 159, 1);
    background-size: 40px 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* set unordered list background */
#bottom:hover .button {
    background-color: rgba(60, 60, 60, 1);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 1;
}
/* set li */
#bottom:hover .mask {
    background-image: url("../images/mask.png");
    transform: translate(-45px, -40px);
    opacity: 1;
}
#bottom:hover .history {
    background-image: url("../images/history.png");
    transform: translate(-60px, 0);
    opacity: 1;
}
#bottom:hover .message {
    background-image: url("../images/message.png");
    transform: translate(-45px, 39px);
    opacity: 1;
}
#bottom:hover .setting {
    background-image: url("../images/setting.png");
    transform: translate(-23px, 80px);
    opacity: 1;
}
#bottom:hover .sign {
    background-image: url("../images/signout.png");
    transform: translate(25px, 75px);
    opacity: 1;
}

/* unread message */
#bottom:hover .message span {
    font-size: 10pt;
    background: red;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    position: absolute;
    bottom: 80%;
    left: 70%;
    color: white;
    font-style: bold;
    opacity: 1;
}

/* info bar style */
/*#bottom:hover {
    -webkit-transition: all 0.5s 0.2s;
    -moz-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
}*/
#bottom:hover #info-bar {
    background-color: rgba(60, 60, 60, 1);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transform: translate(-20px, -65px);
    opacity: 1;
}
#bottom:hover #info-bar span {
    font-weight: bold;
    opacity: 1;
}
#bottom:hover #info-bar li {
    display: block;
    opacity: 1;
}
#bottom:hover .page {
    color: white;
    opacity: 1;
}

#bottom:hover .mine {
    color: green;
    font-size: 25pt;
    opacity: 1;
}
#bottom:hover .user {
    font-size: 20px;
    font-weight: bold;
    transform: translate(0px, -84px) scale(1.0);
    opacity: 1;
}
#bottom:hover .user span {
    margin-right: 10px;
    /*position: relative;
    bottom: 6px;*/
    transform: translate(10px, -6px);
    opacity: 1;
}
#bottom:hover .user img {
    margin-right: 25px;
    vertical-align: middle;
    opacity: 1;
}
#bottom:hover .comment {
    font-size: 30px;
    font-weight: bold;
    transform: translate(0px, -52px);
    opacity: 1;
}
#bottom:hover .comment span {
    margin-right: 10px;
    vertical-align: center;
}
#bottom:hover .comment img {
    margin-right: 25px;
    vertical-align: middle;
}
#bottom:hover .posted {
    transform: translate(-18px, -17px);
}
#bottom:hover .posted span {
    font-size: 20px;
    margin-left: 5px;
    /*position: relative;
    bottom: 12px;*/
    transform: translateY(-12px);
}
#bottom:hover .like {
    transform: translate(33px, -15px);
}
#bottom:hover .like span {
    font-size: 20px;
    margin-left: 5px;
    /*position: relative;
    bottom: 12px;*/
    transform: translate(5px, -12px);
}
#bottom:hover .page img {
    float: left;
}
#bottom:hover .mine img {
    float: left;
}