/* Created by BowenWu-15331310
 * 2016-09-23
 */

div#bottom-positioner {
	position: fixed;
	bottom: 50%;
	left: 50%;
}
div#at-plus-container ul {
	list-style-type: none;
	position: relative;
}

#button div.icon {
	background: url("../images/atplus_white.png") rgba(48, 63, 159, 0.5)
				no-repeat center;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	-webkit-transition: ease-in-out 0.5s;
	-moz-transition: ease-in-out 0.5s;
	transition: ease-in-out 0.5s;
}


.button {
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	-webkit-transition: ease-in-out 0.5s; 
	-moz-transition: ease-in-out 0.5s; 
	transition: ease-in-out 0.5s;
	background-color: rgba(150, 150, 150, 0.3);
}
#button div {
	border-radius: 50%;
	width: 35px;
	height: 35px;
}
#button .apb {
	background: white;
}
li.message .unread {
	display: none;
}
#button #info-bar {
	background: rgba(150, 150, 150, 0.3);
	border-radius: 50%;
	width: 0;
	height: 0;
	visibility: hidden;
	-webkit-transition: ease-in-out 0.5s;
	-o-transition: ease-in-out 0.5s;
	transition: ease-in-out 0.5s;
}

/* style after hover */
/**************************************************************/

/* info bar */
#button:hover div {
	border-radius: 50%;
	visibility: visible;
}
#button:hover #info-bar {
	background-color: rgba(150, 150, 150, 0.3);
	border-radius: 50%;
	height: 150px;
	width: 150px;
	transform: translate(-52px, 0px);
}
#button:hover #info-bar .user {
	font-size: 10pt;
	color: white;

}
#button:hover li.button {
	background: rgba(150, 150, 150, 0.3)
	            center no-repeat;
	height: 27px;
	width: 27px;
	border-radius: 50%;
}
#button:hover .icon {
	background: url("../images/atplus_green.png") rgba(48, 63, 159, 1) no-repeat
				center;
	transform: scale(1.5);	
}
#button:hover li.mask {
	background: url("../images/mask.png") rgba(150, 150, 150, 0.3)
				no-repeat center;
	transform: translate(-40px, -25px);
}

#button:hover li.history {
	background: url("../images/history.png") no-repeat rgba(150, 150, 150, 0.3) center;
	transform: translateX(-60px);
}
#button:hover li.message {
	transform: translateX(-40px) translateY(35px);
	background:  url("../images/message.png") no-repeat rgba(150, 150, 150, 0.3) center;
}
#button:hover li.message .unread {
	background-color: red;
	border-radius: 50%;
	position: relative;
	left: 18px;
	text-align: center;
	font-size: 9pt;
	width: 12px;
	height: 12px;
	display: block;
	margin: 0;
	padding-bottom: 1px;
}
#button:hover li.setting {
	background:  url("../images/setting.png") no-repeat rgba(150, 150, 150, 0.5) center;
	transform: translateX(-10px) translateY(50px);
}
#button:hover li.sign {
	background: url("../images/signin.png") no-repeat rgba(150, 150, 150, 0.5) center;
	transform: translateX(30px) translateY(40px);
}
