body {
    background-image: url(../picture/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Verdana", Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}

div#banner {
    background-image: url(../picture/bannerbackground.png);
    background-repeat: repeat-x;
    width: 100%;
    font-family: "Tahoma", Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1#main_title {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: "Tahoma", Verdana, sans-serif;
}

div#main_content {
    margin-left: auto;
    margin-right: auto;
    border: gray solid 4px;
    width: 800px;
}

div#all_comment {
    width: 550px;
}

div#all_comment #banner {
    background: url(../picture/rottenbackground.png) repeat-x;
}

div#all_comment span#percentage {
    font-weight: bold;
    font-size: 48pt;
    color: red;
    vertical-align: 20%;
}

div#all_comment span#person {
    color: white;
    vertical-align: 40%;
}

div#poster {
    font-family: "Arial, sans-serif";
    float: right;
    width: 250px;
    height: 100%;
    background-color: #A2B964;
}

div#validator {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

div.comment {
    float: left;
    width: 47%;
}

dl.introduction {
    margin: 0;
    padding: 10px;
}

.introduction dt {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.introduction dd {
    margin: 0 0 1em 0;
    padding: 0;
}

p.comment {
    width: 200px;
    border: gray solid;
    border-width: 2px;
    padding: 8px;
    font: 8pt bold;
    background-color: #E1D697;
}

p.comment img {
    float: left;
    padding-right: 5px;
    /*width: 35px;*/
}

p.user img {
    float: left;
    padding: 5px;
}

p.user {
    font-style: italic;
}

.clear {
    clear: both;
}

p#bottom {
    float: bottom;
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
    margin: 0;
}