body {
	background-color: #7187aa;
}

h1 {
	text-align: center;
}
form {
	width:25%;
	margin-left: auto;
	margin-right: auto;
}

.info-bar {
	height: 20px;
	padding: 0;
	margin: 0;
	font-size: 2px;
	color: red;
	text-align: right;
}

